In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Data Preprocessing

1.1 Data Cleaning

In [150]:
columns=['Station Code','Location','State','Temp Min','Temp Max','Dissoved Oxygen Min','Dissoved Oxygen Max','pH Min','pH Max','Conductivity Min','Conductivity Max','BOD Min','BOD Max','Nitrate Min','Nitrate Max','Fecal Coliform Min','Fecal Coliform Max','Total Coliform Min','Total Coliform Max']

In [151]:
def fileInfo(file_path:str):

    # Create an ExcelFile object
    xls = pd.ExcelFile(file_path)

    # Get the sheet names
    sheet_names = xls.sheet_names

    # Get the number of sheets
    num_sheets = len(sheet_names)

    # Print the sheet names and the number of sheets
    print("Sheet Names:", sheet_names)
    print("Number of Sheets:", num_sheets) 

    return sheet_names

In [311]:
file_name='../data/water pollution/WQuality_River-Data-2021 (1).xlsx'
fileInfo(file_name)

Sheet Names: ['Table 1', 'Table 2', 'Table 3', 'Table 4', 'Table 5', 'Table 6', 'Table 7', 'Table 8', 'Table 9', 'Table 10', 'Table 11', 'Table 12', 'Table 13', 'Table 14', 'Table 15', 'Table 16', 'Table 17', 'Table 18', 'Table 19', 'Table 20', 'Table 21', 'Table 22', 'Table 23', 'Table 24', 'Table 25', 'Table 26', 'Table 27', 'Table 28', 'Table 29', 'Table 30', 'Table 31', 'Table 32', 'Table 33', 'Table 34', 'Table 35', 'Table 36']
Number of Sheets: 36

['Table 1',
 'Table 2',
 'Table 3',
 'Table 4',
 'Table 5',
 'Table 6',
 'Table 7',
 'Table 8',
 'Table 9',
 'Table 10',
 'Table 11',
 'Table 12',
 'Table 13',
 'Table 14',
 'Table 15',
 'Table 16',
 'Table 17',
 'Table 18',
 'Table 19',
 'Table 20',
 'Table 21',
 'Table 22',
 'Table 23',
 'Table 24',
 'Table 25',
 'Table 26',
 'Table 27',
 'Table 28',
 'Table 29',
 'Table 30',
 'Table 31',
 'Table 32',
 'Table 33',
 'Table 34',
 'Table 35',
 'Table 36']

In [312]:
def readExcel(file_path:str, sheet_name:str, header:int=0,skip=None,columns=None):
    df = pd.read_excel(file_path, sheet_name=sheet_name ,header=header,skiprows=skip,usecols=columns)
    return df

In [321]:
df = readExcel(file_name, 'Table 1',header=0,skip=3)
len(df),len(df.columns)

(16, 23)

In [322]:
df.head()

,"PRIMARY WATER QUALITY CRITERIA NOTIFIED UNDER E(P) RULES, 1986",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,> 5.0,Unnamed: 7,6.5-8.5,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,< 2500\nMPN/100ML,Unnamed: 17,Unnamed: 18,Unnamed: 19,< 500\nMPN/100ML,Unnamed: 21,Unnamed: 22
0,1001,RIVER BEAS AT U/S\nMANALI,NaN,HIMACHAL\nPRADESH,4,14.0,7.9,9.7,7.2,8.0,...,1,0.30,0.72,2,110,25,540,2,NaN,2
1,2601,RIVER BEAS AT D/S\nMANALI,NaN,HIMACHAL\nPRADESH,4,14.0,7.7,9.4,7.1,7.8,...,1,0.32,0.88,40,350,240,1600,2,NaN,2
2,4444,RIVER BEAS D/S OF\nWPF AT MANALI,NaN,HIMACHAL\nPRADESH,3,13.0,7.7,9.8,6.9,7.9,...,1,0.32,0.92,94,920,430,1600,2,NaN,2
3,4037,RIVER BEAS D/S\nMANALSU NALLAH,NaN,HIMACHAL\nPRADESH,4,13.0,7.8,9.9,6.9,7.9,...,1,0.32,0.82,33,140,170,430,2,NaN,2
4,3866,RIVER BEAS BEFORE CONFLUENCE TO\nMANALSU NALLAH,NaN,HIMACHAL PRADESH,4,12.0,7.9,9.8,7.1,8.4,...,1,0.32,0.62,26,94,120,350,2,NaN,2

In [ ]:
df=df.drop(columns=['Min.8','Max.8'])

In [293]:
nul=df.isna().sum().to_list()
cols=df.columns.to_list()

for i in range(len(nul)):
    if nul[i]==len(df):
        print(cols[i])
        df=df.drop(cols[i],axis=1)

In [285]:
df.columns = columns
df

,Station Code,Location,State,Temp Min,Temp Max,Dissoved Oxygen Min,Dissoved Oxygen Max,pH Min,pH Max,Conductivity Min,Conductivity Max,BOD Min,BOD Max,Nitrate Min,Nitrate Max,Fecal Coliform Min,Fecal Coliform Max,Total Coliform Min,Total Coliform Max
0,1001,BEAS AT U/S MANALI,HIMACHAL PRADESH,2.0,13.0,8.7,11.2,7.3,8.4,90.0,179,0.1,0.2,0.20,0.31,12.0,33.0,120.0,240
1,4444,RIVER BEAS D/S OF WPF AT MANALI,HIMACHAL PRADESH,8.0,14.0,8.5,10.8,7.3,8.1,62.0,92,0.1,0.8,0.20,0.20,31.0,94.0,280.0,540
2,4037,RIVER BEAS D/S MANALSU NALLAH,HIMACHAL PRADESH,2.0,13.0,8.9,10.9,7.0,8.3,68.0,135,0.1,1,0.10,0.10,20.0,32.0,120.0,280
3,2601,BEAS AT D/S MANALI,HIMACHAL PRADESH,3.0,14.0,8.2,11.1,6.9,8.2,78.0,218,0.1,0.6,0.10,0.40,25.0,170.0,280.0,920
4,2602,BEAS AT U/S KULLU,HIMACHAL PRADESH,5.0,15.0,7.6,11.5,7.0,8.6,63.0,149,0.1,0.4,0.10,0.20,25.0,70.0,220.0,540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,1022,"SUTLEJ AT BRIDGE HARIKE,\nAMRITSAR",PUNJAB,14.0,32.0,5.2,7,7.2,7.9,280.0,408,1.8,4.4,0.90,3.20,200.0,7000.0,3300.0,11000
77,1021,"SUTLEJ AT BOAT BDG. DHARMKOTNAKODAR ROAD,\nJAL...",PUNJAB,14.0,27.0,3,5.9,6.9,7.9,308.0,888,3.2,20,0.29,1.93,11000.0,93000.0,17000.0,260000
78,1381,"SUTLEJ AT D/S EAST BEIN, PUNJAB",PUNJAB,12.0,31.0,1,6,7.3,8.0,292.0,1230,3.4,22,1.00,2.50,200.0,22000.0,3300.0,54000
79,1691,"SUTLEJ AT U/S HUSSANIWALA\n- H/W FEROZEPUR, PU...",PUNJAB,10.0,34.0,6.6,9,7.0,8.3,202.0,296,1.1,1.2,0.20,1.40,93.0,930.0,490.0,2400
80,1692,"SUTLEJ AT D/S HUSSANIWALA-\nH/W FEROZEPUR, PUNJAB",PUNJAB,12.0,34.0,6.4,8.9,7.1,8.3,205.0,315,1.2,1.8,0.20,4.30,61.0,920.0,220.0,2300

In [323]:
def MakeCsvFile(fileName):
    test_main=pd.DataFrame()
    failed=[]
    sheets=fileInfo(fileName)
    for sheet in sheets:
        df = readExcel(fileName, sheet,header=0,skip=3)
        try:
            # drop last two columns
            df=df.drop(columns=df.columns[-2:])
            df.columns = columns
            test_main = test_main.append(df,ignore_index=True)
        except Exception as e:
            print(sheet)
            failed.append(sheet)
            print(e)
    print(failed)
    return test_main
        
    # df = readExcel('../data/water pollution/NWMP_DATA_2015.xlsx', 'Table 6',header=0,skip=3,)

In [ ]:
res=MakeCsvFile(file_name)

In [209]:
# res=res.append(df,ignore_index=True)

/var/folders/hn/5r0zs8c94dz3z1pnjkkmycfm0000gn/T/ipykernel_11682/3116501516.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  res=res.append(df,ignore_index=True)

In [325]:
res.to_csv('../data/water pollution/csv/water_pollution_2021.csv',index=False)

In [260]:
# a.to_csv('../data/water pollution/csv/water_pollution_2018.csv',index=False)

## lets join all the csv together

In [326]:
df_2015=pd.read_csv('../data/water pollution/csv/water_pollution_2015.csv')
df_2016=pd.read_csv('../data/water pollution/csv/water_pollution_2016.csv')
df_2017=pd.read_csv('../data/water pollution/csv/water_pollution_2017.csv')
df_2018=pd.read_csv('../data/water pollution/csv/water_pollution_2018.csv')
df_2019=pd.read_csv('../data/water pollution/csv/water_pollution_2019.csv')
df_2020=pd.read_csv('../data/water pollution/csv/water_pollution_2020.csv')
df_2021=pd.read_csv('../data/water pollution/csv/water_pollution_2021.csv')

In [327]:
combined_df=pd.DataFrame()

In [328]:
combined_df=combined_df.append(df_2015,ignore_index=True)
combined_df=combined_df.append(df_2016,ignore_index=True)
combined_df=combined_df.append(df_2017,ignore_index=True)
combined_df=combined_df.append(df_2018,ignore_index=True)
combined_df=combined_df.append(df_2019,ignore_index=True)
combined_df=combined_df.append(df_2020,ignore_index=True)
combined_df=combined_df.append(df_2021,ignore_index=True)

/var/folders/hn/5r0zs8c94dz3z1pnjkkmycfm0000gn/T/ipykernel_11682/2893741430.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df=combined_df.append(df_2015,ignore_index=True)
/var/folders/hn/5r0zs8c94dz3z1pnjkkmycfm0000gn/T/ipykernel_11682/2893741430.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df=combined_df.append(df_2016,ignore_index=True)
/var/folders/hn/5r0zs8c94dz3z1pnjkkmycfm0000gn/T/ipykernel_11682/2893741430.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df=combined_df.append(df_2017,ignore_index=True)
/var/folders/hn/5r0zs8c94dz3z1pnjkkmycfm0000gn/T/ipykernel_11682/2893741430.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df=combined_df.append(df_2018,ignore_index=True)
/var/folders/hn/5r0zs8c94dz3z1pnjkkmycfm0000gn/T/ipykernel_11682/2893741430.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df=combined_df.append(df_2019,ignore_index=True)
/var/folders/hn/5r0zs8c94dz3z1pnjkkmycfm0000gn/T/ipykernel_11682/2893741430.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df=combined_df.append(df_2020,ignore_index=True)
/var/folders/hn/5r0zs8c94dz3z1pnjkkmycfm0000gn/T/ipykernel_11682/2893741430.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df=combined_df.append(df_2021,ignore_index=True)

In [330]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7323 entries, 0 to 7322
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Station Code         7279 non-null   object
 1   Location             7282 non-null   object
 2   State                7259 non-null   object
 3   Temp Min             7203 non-null   object
 4   Temp Max             7202 non-null   object
 5   Dissoved Oxygen Min  7239 non-null   object
 6   Dissoved Oxygen Max  7227 non-null   object
 7   pH Min               7298 non-null   object
 8   pH Max               7284 non-null   object
 9   Conductivity Min     7127 non-null   object
 10  Conductivity Max     7126 non-null   object
 11  BOD Min              7241 non-null   object
 12  BOD Max              7227 non-null   object
 13  Nitrate Min          6944 non-null   object
 14  Nitrate Max          6947 non-null   object
 15  Fecal Coliform Min   6642 non-null   object
 16  Fecal Coliform Max   6628 non-null   object
 17  Total Coliform Min   6825 non-null   object
 18  Total Coliform Max   6817 non-null   object
dtypes: object(19)
memory usage: 1.1+ MB

In [331]:
combined_df.to_csv('../data/water pollution/csv/water_pollution_combined.csv',index=False)

In [332]:
combined_df.shape

(7323, 19)

1.2 Data Processing

In [47]:
df=pd.read_csv('../data/water pollution/csv/water_pollution_combined.csv')

In [5]:
df.head()

,Station Code,Location,State,Temp Min,Temp Max,Dissoved Oxygen Min,Dissoved Oxygen Max,pH Min,pH Max,Conductivity Min,Conductivity Max,BOD Min,BOD Max,Nitrate Min,Nitrate Max,Fecal Coliform Min,Fecal Coliform Max,Total Coliform Min,Total Coliform Max
0,1088,"RAVI AT U/S MADHOPUR, H.P.",HIMACHAL PRADESH,11.5,20.0,7.8,9.2,6.3,8.3,149.0,413.0,0.2,4.0,0.1,0.9,NaN,NaN,NaN,NaN
1,1089,"RAVI AT U/S CHAMBA, H.P.",HIMACHAL PRADESH,7.9,14.8,8.6,8.8,6.8,8.4,92.0,244.0,0.2,0.7,0.1,0.9,8.0,8.0,9.0,60.0
2,2614,RAVI AT CHAMERA RESERVOIR,HIMACHAL PRADESH,9.5,21.0,8.4,8.9,7.1,8.4,113.0,222.0,0.2,0.8,0.1,3.1,11.0,11.0,17.0,110.0
3,2615,RAVI AT D/S CHAMERA III HEP,HIMACHAL PRADESH,7.8,15.0,8.5,8.9,6.4,8.9,119.0,399.0,0.2,0.8,0.1,1.1,9.0,9.0,11.0,110.0
4,2613,RAVI AT D/S OF CHAMBA TOWN,HIMACHAL PRADESH,7.8,15.0,8.5,8.8,6.8,8.5,96.0,237.0,0.2,1.6,0.0,1.1,11.0,11.0,11.0,80.0

In [40]:
df.isna().sum()

Station Code            44
Location                41
State                   64
Temp Min               120
Temp Max               121
Dissoved Oxygen Min     84
Dissoved Oxygen Max     96
pH Min                  25
pH Max                  39
Conductivity Min       196
Conductivity Max       197
BOD Min                 82
BOD Max                 96
Nitrate Min            379
Nitrate Max            376
Fecal Coliform Min     681
Fecal Coliform Max     695
Total Coliform Min     498
Total Coliform Max     506
dtype: int64

In [12]:
numerical_col=df.columns.to_list()[3:]
numerical_col

['Temp Min',
 'Temp Max',
 'Dissoved Oxygen Min',
 'Dissoved Oxygen Max',
 'pH Min',
 'pH Max',
 'Conductivity Min',
 'Conductivity Max',
 'BOD Min',
 'BOD Max',
 'Nitrate Min',
 'Nitrate Max',
 'Fecal Coliform Min',
 'Fecal Coliform Max',
 'Total Coliform Min',
 'Total Coliform Max']

In [50]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

df[numerical_col] = imputer.fit_transform(df[numerical_col])

In [48]:

from curses.ascii import isdigit
import re

def convert_column_to_numeric(df, column_name):
    """Converts a column to numeric values.

    Args:
        df (pd df): data frame
        column_name (string): column name

    Returns:
        None
    """
    # if number is null , or not a number, then return the same value
    # else convert to float
    isDigit=re.compile(r'^\d+(?:\.\d+)?$')

    
    df[column_name] = df[column_name].apply(lambda val: float(eval(val)) if (pd.notna(val) and isDigit.match(val) ) else None)

In [51]:
df

,Station Code,Location,State,Temp Min,Temp Max,Dissoved Oxygen Min,Dissoved Oxygen Max,pH Min,pH Max,Conductivity Min,Conductivity Max,BOD Min,BOD Max,Nitrate Min,Nitrate Max,Fecal Coliform Min,Fecal Coliform Max,Total Coliform Min,Total Coliform Max
0,1088,"RAVI AT U/S MADHOPUR, H.P.",HIMACHAL PRADESH,11.5,20.0,7.8,9.2,6.3,8.3,149.000000,413.000000,0.2,4.0,0.10000,0.900000,3511.208613,431255.338481,8253.446468,1.137428e+06
1,1089,"RAVI AT U/S CHAMBA, H.P.",HIMACHAL PRADESH,7.9,14.8,8.6,8.8,6.8,8.4,92.000000,244.000000,0.2,0.7,0.10000,0.900000,8.000000,8.000000,9.000000,6.000000e+01
2,2614,RAVI AT CHAMERA RESERVOIR,HIMACHAL PRADESH,9.5,21.0,8.4,8.9,7.1,8.4,113.000000,222.000000,0.2,0.8,0.10000,3.100000,11.000000,11.000000,17.000000,1.100000e+02
3,2615,RAVI AT D/S CHAMERA III HEP,HIMACHAL PRADESH,7.8,15.0,8.5,8.9,6.4,8.9,119.000000,399.000000,0.2,0.8,0.10000,1.100000,9.000000,9.000000,11.000000,1.100000e+02
4,2613,RAVI AT D/S OF CHAMBA TOWN,HIMACHAL PRADESH,7.8,15.0,8.5,8.8,6.8,8.5,96.000000,237.000000,0.2,1.6,0.00000,1.100000,11.000000,11.000000,11.000000,8.000000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7318,30068.0,RIVER SUBARNAREKHA AT GOPIBALLAVPUR (WEST\nBEN...,WEST BENGAL,23.0,31.0,7.6,12.0,8.1,8.5,192.000000,319.000000,1.0,1.5,0.32000,0.320000,490.000000,1100.000000,3300.000000,7.900000e+04
7319,30069.0,RIVER SUBARNAREKHA AT\nLAKHANNATH (ORISSA),ODISHA,22.0,31.0,7.3,11.0,7.6,8.5,173.000000,308.000000,1.0,2.2,0.32000,0.440000,230.000000,1300.000000,4900.000000,3.300000e+04
7320,30090.0,RIVER SUBARNAREKHA AT JHARKHAND - WEST BENGAL ...,WEST BENGAL,24.0,32.0,7.5,8.9,8.2,8.2,193.000000,299.000000,1.1,1.3,0.32000,0.320000,330.000000,330.000000,920000.000000,9.200000e+05
7321,4086.0,"RIVER SUBARNREKHA U/S HINDALCO IND LTD, MURLI ...",JHARKHAND,12.0,26.0,7.0,8.4,6.8,7.4,393.524618,1862.356211,2.1,3.0,0.45356,4.050735,3511.208613,431255.338481,8253.446468,1.137428e+06
7322,4756.0,"RIVER SUBARNREKHA AT RUCCA DAM, RUCCA,\nRANCHI",JHARKHAND,9.0,27.0,8.2,8.5,7.3,7.4,393.524618,1862.356211,1.9,2.7,0.45356,4.050735,3511.208613,431255.338481,8253.446468,1.137428e+06

In [52]:
df.isna().sum()

Station Code           44
Location               41
State                  64
Temp Min                0
Temp Max                0
Dissoved Oxygen Min     0
Dissoved Oxygen Max     0
pH Min                  0
pH Max                  0
Conductivity Min        0
Conductivity Max        0
BOD Min                 0
BOD Max                 0
Nitrate Min             0
Nitrate Max             0
Fecal Coliform Min      0
Fecal Coliform Max      0
Total Coliform Min      0
Total Coliform Max      0
dtype: int64

In [53]:
df.head()

,Station Code,Location,State,Temp Min,Temp Max,Dissoved Oxygen Min,Dissoved Oxygen Max,pH Min,pH Max,Conductivity Min,Conductivity Max,BOD Min,BOD Max,Nitrate Min,Nitrate Max,Fecal Coliform Min,Fecal Coliform Max,Total Coliform Min,Total Coliform Max
0,1088,"RAVI AT U/S MADHOPUR, H.P.",HIMACHAL PRADESH,11.5,20.0,7.8,9.2,6.3,8.3,149.0,413.0,0.2,4.0,0.1,0.9,3511.208613,431255.338481,8253.446468,1.137428e+06
1,1089,"RAVI AT U/S CHAMBA, H.P.",HIMACHAL PRADESH,7.9,14.8,8.6,8.8,6.8,8.4,92.0,244.0,0.2,0.7,0.1,0.9,8.000000,8.000000,9.000000,6.000000e+01
2,2614,RAVI AT CHAMERA RESERVOIR,HIMACHAL PRADESH,9.5,21.0,8.4,8.9,7.1,8.4,113.0,222.0,0.2,0.8,0.1,3.1,11.000000,11.000000,17.000000,1.100000e+02
3,2615,RAVI AT D/S CHAMERA III HEP,HIMACHAL PRADESH,7.8,15.0,8.5,8.9,6.4,8.9,119.0,399.0,0.2,0.8,0.1,1.1,9.000000,9.000000,11.000000,1.100000e+02
4,2613,RAVI AT D/S OF CHAMBA TOWN,HIMACHAL PRADESH,7.8,15.0,8.5,8.8,6.8,8.5,96.0,237.0,0.2,1.6,0.0,1.1,11.000000,11.000000,11.000000,8.000000e+01

In [54]:
# df.to_csv('../data/water pollution/csv/water_pollution_combined_cleaned.csv',index=False)